In [143]:
import numpy as np
import pandas as pd

In [144]:
!ls

Competeion_prepare.ipynb sampleSubmission.csv     train.csv
appdata10.csv            test.csv
new_appdata10.csv        top_screens.csv

In [145]:
df = pd.read_csv("appdata10.csv")

In [146]:
df.head()

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1

In [147]:
y=df['enrolled']
df=df.drop(['enrolled'],axis=1)
from  sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df,y,test_size=0.4,random_state=69)

In [148]:
type(X_train)

pandas.core.frame.DataFrame

In [149]:
train = pd.concat([X_train,y_train],axis=1)
train.reset_index(drop=True)

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled_date,liked,enrolled
0,84595,2013-05-30 14:15:35.803,3,14:00:00,30,"Splash,idscreen,Home,ScanPreview,VerifyPhone,V...",9,1,0,2013-05-30 14:17:10.852,0,1
1,300631,2013-06-09 22:51:07.561,6,22:00:00,31,"Home,Loan3,product_review,product_review,produ...",10,0,0,2013-06-09 23:03:30.176,0,1
2,318151,2013-02-11 07:37:33.663,0,07:00:00,19,"idscreen,joinscreen,Home,Loan2,product_review,...",8,0,0,NaN,0,0
3,273985,2013-05-12 06:08:38.593,6,06:00:00,30,"Splash,Home,Loan2,product_review,product_revie...",12,0,0,NaN,0,0
4,102338,2013-05-31 17:21:13.944,4,17:00:00,30,"idscreen,Cycle,Home,Loan2,Institutions,ScanPre...",10,0,0,NaN,0,0
5,223252,2013-06-17 20:57:01.369,0,20:00:00,29,"idscreen,Cycle,Home,product_review,product_rev...",42,0,0,2013-06-17 21:04:43.219,1,1
6,245244,2013-06-03 02:49:03.710,0,02:00:00,25,"product_review,product_review,product_review,p...",32,0,0,2013-06-03 02:54:29.812,1,1
7,336908,2013-05-28 11:33:07.695,1,11:00:00,54,Credit1,1,0,0,NaN,0,0
8,144156,2013-01-29 21:13:58.205,1,21:00:00,56,"Splash,Home,Leaderboard,Loan2,LLLoanAmount,Loa...",11,0,0,NaN,0,0
9,365348,2012-12-26 19:50:05.045,2,19:00:00,63,"joinscreen,product_review,product_review2,Scan...",5,0,0,NaN,0,0
10,188607,2012-12-21 04:21:38.077,4,04:00:00,87,"joinscreen,product_review,product_review2,Scan...",4,0,0,NaN,0,0
11,105194,2013-05-06 02:53:10.305,0,02:00:00,30,"idscreen,Home,Loan2,product_review,product_rev...",30,0,0,2013-05-19 01:16:01.754,1,1
12,338353,2013-03-30 18:29:04.712,5,18:00:00,29,idscreen,1,0,0,NaN,0,0
13,296367,2013-06-11 05:39:26.674,1,05:00:00,35,"idscreen,Cycle,Home,ScanPreview,location,Verif...",29,0,0,2013-06-11 05:43:38.874,0,1
14,127438,2013-07-05 15:57:42.005,4,15:00:00,33,"Loan3,Credit3,ScanPreview,location,VerifySSN,C...",8,0,0,2013-07-05 15:59:24.188,0,1
15,131986,2013-03-04 19:21:14.729,0,19:00:00,31,"Saving9,Saving1,Saving10,Saving4,Saving7,Verif...",10,0,0,2013-04-07 00:38:22.480,0,1
16,74571,2013-02-03 14:24:07.163,6,14:00:00,27,"joinscreen,Cycle,product_review,product_review...",74,0,0,2013-02-03 14:26:09.454,1,1
17,12831,2013-03-13 08:56:34.722,2,08:00:00,39,"Credit3Container,ScanPreview,location,VerifyDa...",10,0,0,2013-03-13 08:58:13.878,1,1
18,337766,2012-12-26 22:07:13.365,2,22:00:00,30,"joinscreen,Credit3Container,ScanPreview,locati...",8,0,0,2012-12-26 22:11:03.943,0,1
19,226010,2013-01-12 00:23:16.339,5,00:00:00,36,"joinscreen,Home,Loan2,Institutions,Credit3Cont...",22,0,1,2013-05-29 20:54:20.011,0,1
20,107356,2013-02-22 19:58:06.261,4,19:00:00,16,"joinscreen,Cycle,Home,Loan2,Credit3Container,S...",25,0,0,2013-02-22 20:05:33.688,0,1
21,126556,2013-06-08 06:38:33.748,5,06:00:00,27,"idscreen,Home,Loan3,product_review,product_rev...",6,1,0,2013-06-08 13:39:09.498,0,1
22,228810,2013-03-02 08:09:49.464,5,08:00:00,19,"Cycle,joinscreen,product_review,product_review...",41,0,0,2013-03-02 08:14:40.174,0,1
23,255484,2013-02-09 00:01:12.975,5,00:00:00,65,"idscreen,joinscreen,Saving9,Saving1,Saving10,S...",16,0,0,2013-02-26 01:58:31.892,1,1
24,103803,2013-02-15 17:55:48.998,4,17:00:00,45,"Cycle,Home,SelectInstitution,BankVerification,...",13,0,1,NaN,0,0
25,2040,2013-01-09 03:17:46.633,2,03:00:00,23,"Splash,Cycle,Home,Loan2,Institutions,Credit3Co...",26,0,0,2013-01-09 03:20:51.117,0,1
26,71726,2012-12-15 23:16:57.315,5,23:00:00,29,Cycle,1,0,1,NaN,0,0
27,69242,2013-05-08 20:23:30.652,2,20:00:00,25,"Splash,idscreen,Cycle,Home,product_review,prod...",44,0,0,2013-05-08 20:28:00.305,0,1
28,770,2013-01-03 06:48:36.340,3,06:00:00,39,"idscreen,joinscreen,Cycle,product_review,produ...",56,0,0,2013-01-03 16:00:26.989,0,1
29,53202,2013-03-10 02:23:10.850,6,02:00:00,33,"joinscreen,Saving9,Saving1,Saving10,Saving4,Sa...",22,0,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29970,280969,2013-04-29 00:30:21.447,0,00:00:00,34,"idscreen,Home,Institutions,SelectInstitution,B...",18,1,0,NaN,0,0
29971,115106,2013-03-16 05:47:13.108,5,05:00:00,25,"joinscreen,Cycle,product_review,product_review...",11,0,0,2013-03-16 05:51:22.060,0,1
29972,33723,2013-04-24 17:40:27.275,2,17:00:00,19,"Cycle,ScanPreview,VerifyDateOfBirth,VerifyPhone",4,0,0,2013-05-18 23:42:04.567,1,1
29973,293217,2013-06-10 21:03:51.078,0,21:00:00,48,"idscreen,product_review,Loan3,location",4,0,0,2013-06-17 19:47:53.768,1,1
29974,228679,2013-07-07 20:21:27.801,6,20:00:00,28,"idscreen,Home,ScanPreview,Loan3,product_review...",15,0,0,2013-07-09 06:09:59.840,0,1
29975,304340,2013-04-03 23:42:27.655,2,23:00:00,22,"Cycle,Home,Loan2,product_review,product_review...",9,0,0,2013-04-03 23:55:41.181,1,1
29976,355497,2013-01-13 16:53:53.992,6,16:00:00,23,"location,VerifyMobile,Credit1,Credit3Dashboard...",10,0,1,NaN,0,0
29977,147911,2013-02-03 00:07:52.673,6,00:00:00,27,"idscreen,joinscreen,product_review,product_rev...",23,0,0,2013-02-09 13:05:28.362,0,1
29978,43142,2013-06-09 04:23:44.560,6,04:00:00,25,"product_review,product_review,product_review,p...",5,0,0,2013-06-11 15:33:53.528,0,1
29979,178928,2013-03-09 22:47:29.439,5,22:00:00,29,"joinscreen,product_review,product_review2,Scan...",71,0,0,2013-03-09 22:51:08.721,0,1
29980,158367,2013-05-25 02:32:43.682,5,02:00:00,56,"Splash,Home,ScanPreview",5,0,0,2013-05-25 22:14:12.121,0,1
29981,326276,2013-04-07 22:05:16.528,6,22:00:00,24,"idscreen,Cycle,Home,Loan2,product_review,produ...",55,1,0,2013-04-07 22:08:47.082,1,1
29982,191874,2013-02-07 21:11:07.762,3,21:00:00,36,"Splash,Home,Loan2,LLLoanAmount,CommunityAndInv...",12,0,0,NaN,0,0
29983,139157,2013-05-21 06:37:08.066,1,06:00:00,22,"Splash,idscreen,Cycle,Home,ScanPreview,locatio...",20,0,1,2013-05-21 06:38:02.825,0,1
29984,250713,2013-06-08 04:40:37.456,5,04:00:00,37,"idscreen,Cycle,product_review,Home,ScanPreview...",15,0,0,2013-06-08 04:41:50.879,0,1
29985,352629,2013-02-22 14:00:32.512,4,14:00:00,65,"joinscreen,Cycle,Credit3Container,ScanPreview",4,0,0,2013-04-13 15:35:58.128,0,1
29986,311506,2013-01-20 19:02:40.147,6,19:00:00,29,"Loan2,product_review,location,VerifyDateOfBirt...",10,0,0,2013-01-20 19:04:25.927,0,1
29987,102312,2012-12-26 18:47:07.718,2,18:00:00,32,"joinscreen,product_review,product_review2,Scan...",15,0,0,NaN,0,0
29988,67944,2012-12-17 19:33:54.019,0,19:00:00,32,"CommunityAndInvites,RewardsContainer,ProfilePage",3,0,1,NaN,0,0
29989,99678,2013-07-06 20:10:59.556,5,20:00:00,34,"idscreen,Home,ReferralContainer,Credit3,ScanPr...",34,0,0,2013-07-06 20:19:41.755,0,1
29990,46544,2013-07-02 19:14:33.954,1,19:00:00,30,"Home,location,VerifyDateOfBirth,VerifyPhone,Ve...",37,1,0,2013-07-02 19:15:02.970,0,1
29991,159042,2013-02-25 20:42:14.607,0,20:00:00,49,"Home,Loan2,product_review,product_review2,loca...",11,0,0,NaN,1,0
29992,51725,2013-05-26 20:03:56.052,6,20:00:00,20,"Splash,idscreen,Cycle,Home,Loan2,product_revie...",10,0,0,2013-05-29 10:19:35.519,0,1
29993,153376,2013-07-03 20:10:16.027,2,20:00:00,36,"Home,location,VerifyDateOfBirth,VerifyPhone,Ve...",23,1,0,2013-07-03 20:12:15.497,0,1
29994,38674,2013-05-09 22:08:16.891,3,22:00:00,25,"Splash,Cycle,Home,ScanPreview,location,VerifyD...",36,1,0,2013-05-09 22:10:55.165,0,1
29995,164350,2012-11-25 19:02:48.940,6,19:00:00,44,"VerifyAnnualIncome,VerifyIncomeType,VerifyMobile",3,0,0,NaN,0,0
29996,126590,2013-03-07 15:25:20.480,3,15:00:00,34,"Credit3Container,ScanPreview,VerifyPhone,Verif...",22,1,1,2013-06-22 23:39:38.365,0,1
29997,121011,2013-06-10 15:37:23.375,0,15:00:00,30,"Finances,VerifyDateOfBirth,location,VerifyCoun...",19,0,0,2013-06-10 15:38:56.149,0,1
29998,170115,2013-03-26 15:23:56.048,1,15:00:00,28,"idscreen,Home,product_review,product_review,pr...",12,0,0,2013-05-06 18:46:40.372,0,1
29999,93752,2013-05-11 23:55:35.048,5,23:00:00,29,"idscreen,Cycle,Loan1,Loan2,ProfilePage",5,0,1,NaN,0,0

In [150]:
test = pd.concat([X_test,y_test],axis=1)
test.reset_index(drop=True)

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled_date,liked,enrolled
0,220962,2013-05-16 02:16:03.227,3,02:00:00,36,"Splash,Home,Credit3Container,ScanPreview,locat...",20,0,0,2013-05-16 02:18:37.169,0,1
1,276227,2013-05-25 06:32:39.725,5,06:00:00,33,"Splash,idscreen,Home,ReferralContainer,product...",16,0,0,2013-05-25 06:35:23.042,1,1
2,281010,2013-06-03 12:52:48.860,0,12:00:00,62,"idscreen,Cycle,Home,Loan3,Finances,Credit3,Ref...",24,0,0,2013-06-03 12:56:00.724,0,1
3,313476,2013-04-11 15:34:20.421,3,15:00:00,50,"Home,ScanPreview,location,VerifyDateOfBirth,Cr...",8,0,0,NaN,0,0
4,38850,2013-04-06 13:29:36.099,5,13:00:00,32,"Home,Leaderboard,Loan2,Loan1,ProfilePage,Rewar...",18,1,0,NaN,0,0
5,138878,2013-07-02 13:06:30.416,1,13:00:00,34,"idscreen,Home,ScanPreview,location,VerifyDateO...",13,0,0,2013-07-02 13:11:00.794,0,1
6,256666,2013-05-10 16:20:50.460,4,16:00:00,25,"Splash,product_review,Home,Loan2,Institutions,...",8,0,0,2013-05-16 16:16:05.989,0,1
7,249550,2013-05-15 12:46:39.013,2,12:00:00,44,"Splash,Cycle,product_review,Home,Loan2,product...",21,0,0,2013-05-15 12:48:18.742,0,1
8,319900,2013-06-02 16:53:10.142,6,16:00:00,19,"idscreen,Cycle,Home,Loan3,product_review,produ...",27,0,0,NaN,0,0
9,620,2013-05-10 03:38:06.603,4,03:00:00,25,"Splash,idscreen,Cycle,Home,Loan2,ScanPreview,l...",27,0,0,2013-07-05 11:51:53.315,0,1
10,31937,2013-05-01 12:38:27.937,2,12:00:00,43,"idscreen,Home,Loan2,ProfilePage,VerifyHousing,...",38,1,0,2013-05-02 16:17:48.437,0,1
11,67374,2012-11-26 15:05:35.343,0,15:00:00,36,"joinscreen,Saving9,Credit3Container,ScanPrevie...",21,0,0,2012-11-28 13:03:12.525,0,1
12,136363,2013-05-25 12:32:02.088,5,12:00:00,29,"Splash,idscreen,Home,Loan2,Institutions,Credit...",11,0,0,NaN,0,0
13,237755,2013-04-12 02:55:58.632,4,02:00:00,23,"idscreen,Cycle,Home,product_review,product_rev...",15,0,0,2013-04-12 02:57:39.666,0,1
14,217908,2013-07-07 23:10:26.111,6,23:00:00,34,"Cycle,product_review,Home,ScanPreview,location...",19,0,0,2013-07-07 23:13:21.199,0,1
15,168291,2013-06-23 23:36:01.644,6,23:00:00,31,"Home,Loan3,Credit3,ReferralContainer,CC1Catego...",23,0,0,2013-06-24 05:43:12.496,0,1
16,89021,2013-01-22 04:51:26.932,1,04:00:00,27,"joinscreen,Home,Credit3Container,ScanPreview,V...",12,0,0,2013-01-22 04:53:23.553,0,1
17,359712,2013-02-21 19:42:30.080,3,19:00:00,46,"idscreen,joinscreen,Cycle,product_review,produ...",38,0,0,2013-02-21 19:51:23.105,0,1
18,132963,2013-06-15 20:07:29.232,5,20:00:00,30,"idscreen,Home,product_review,product_review,pr...",43,0,1,2013-06-18 10:16:30.071,0,1
19,248522,2012-12-02 07:22:55.840,6,07:00:00,19,Institutions,1,0,0,2012-12-02 15:00:00.486,1,1
20,252335,2013-03-13 12:51:26.594,2,12:00:00,30,"product_review,product_review2,ScanPreview,Ver...",19,0,0,2013-03-13 12:53:25.233,0,1
21,103062,2013-04-01 18:05:32.667,0,18:00:00,22,"Home,ScanPreview,RewardsContainer,Institutions...",17,0,0,NaN,0,0
22,161920,2013-02-02 22:08:01.978,5,22:00:00,39,"joinscreen,product_review,product_review2,Veri...",8,0,0,NaN,0,0
23,187271,2012-11-23 01:20:33.900,4,01:00:00,18,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",9,0,0,2013-02-15 03:51:11.909,0,1
24,7313,2013-02-14 16:48:09.619,3,16:00:00,24,"joinscreen,Cycle,Saving9,Saving1,Saving10,Savi...",14,0,1,2013-02-14 18:02:03.549,1,1
25,357324,2013-06-06 18:58:35.633,3,18:00:00,28,"product_review,LandingScreen,Login,Signup,Sign...",20,0,0,NaN,0,0
26,76528,2012-12-19 00:04:48.366,2,00:00:00,30,"Loan2,Credit3Container,ScanPreview,location,Ve...",63,0,0,2012-12-19 00:05:17.649,0,1
27,186387,2013-04-05 03:47:44.241,4,03:00:00,34,"Home,product_review3,ScanPreview,location,Veri...",7,0,0,NaN,1,0
28,32678,2013-04-18 11:43:50.620,3,11:00:00,21,"idscreen,Cycle,Home,ScanPreview,location,Verif...",18,1,0,2013-04-18 11:47:42.737,0,1
29,238744,2013-07-04 23:52:23.624,3,23:00:00,30,"Finances,ManageFinances,Home,Settings,ProfileP...",31,1,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19970,11691,2013-06-01 21:01:52.616,5,21:00:00,37,"idscreen,Cycle,Home,Loan3,product_review,produ...",34,0,0,NaN,0,0
19971,1983,2013-05-04 19:43:03.164,5,19:00:00,19,"idscreen,Cycle,product_review,Home,Loan2,Insti...",28,1,0,2013-05-04 19:47:44.825,0,1
19972,300623,2013-04-17 13:40:53.746,2,13:00:00,51,"Home,product_review,product_review,product_rev...",18,0,1,NaN,1,0
19973,232901,2013-01-04 02:32:47.824,4,02:00:00,38,"joinscreen,Loan2,product_review,product_review...",7,0,0,2013-03-11 14:52:49.222,1,1
19974,7532,2013-06-05 04:29:39.514,2,04:00:00,34,Home,1,0,0,2013-06-06 16:40:10.203,0,1
19975,366948,2013-05-25 16:13:00.781,5,16:00:00,19,"Splash,Home,Loan2,product_review,product_revie...",22,0,0,NaN,0,0
19976,274846,2012-11-23 00:46:36.966,4,00:00:00,48,"joinscreen,Home,Institutions,SelectInstitution...",35,0,0,2012-11-23 00:53:10.346,1,1
19977,215521,2013-04-25 10:45:26.792,3,10:00:00,19,"Home,product_review,product_review,product_rev...",23,0,0,NaN,0,0
19978,174473,2013-01-13 23:34:23.189,6,23:00:00,48,"joinscreen,Credit3Container,Institutions,Profi...",29,0,0,2013-01-17 00:36:50.363,0,1
19979,153884,2013-06-19 22:08:39.294,2,22:00:00,40,"Cycle,Home,Loan3,product_review,product_review...",25,0,1,2013-06-19 22:11:10.479,0,1
19980,270921,2013-05-19 04:43:11.409,6,04:00:00,44,"Splash,Home,ScanPreview,location,VerifyDateOfB...",70,1,0,2013-05-19 04:57:20.602,0,1
19981,311030,2013-03-25 16:13:52.810,0,16:00:00,25,"Home,Loan2,product_review,product_review,Insti...",29,0,0,2013-03-25 16:32:57.239,0,1
19982,249797,2013-02-16 17:07:34.963,5,17:00:00,55,"joinscreen,Credit3Container,Loan2,Home,product...",14,0,0,NaN,0,0
19983,147280,2013-05-05 14:53:11.081,6,14:00:00,40,"idscreen,Cycle,product_review,product_review,p...",25,0,0,2013-05-05 15:00:18.355,0,1
19984,47537,2013-07-02 21:49:12.403,1,21:00:00,57,"Home,Loan3,Settings",4,0,0,NaN,0,0
19985,231506,2013-06-29 15:29:02.188,5,15:00:00,18,"Loan3,product_review,product_review3,VerifyDat...",12,0,0,2013-06-29 15:30:59.308,0,1
19986,271255,2013-05-05 23:06:58.189,6,23:00:00,26,"idscreen,Cycle,Splash,Home,Loan2,Loan1,MLWebVi...",30,0,1,NaN,0,0
19987,119348,2013-02-17 19:12:43.163,6,19:00:00,25,"Home,Loan2,Loan1,MLWebView,Credit3Container,Cr...",20,0,1,NaN,0,0
19988,140515,2013-05-09 11:41:34.049,3,11:00:00,27,"Splash,product_review,Home,Loan2,product_revie...",13,0,0,2013-05-09 11:43:18.874,0,1
19989,258147,2013-04-15 03:12:48.996,0,03:00:00,26,"idscreen,product_review,product_review,ScanPre...",8,0,0,NaN,0,0
19990,19204,2013-06-29 13:10:36.862,5,13:00:00,26,"idscreen,Cycle,product_review,Home,Loan3,produ...",9,0,0,2013-07-05 13:33:53.035,1,1
19991,208261,2013-04-06 13:02:01.387,5,13:00:00,30,"Home,Loan2,WelcomeBankVerification,SelectInsti...",13,0,0,NaN,1,0
19992,250556,2013-03-19 14:56:50.183,1,14:00:00,25,"idscreen,joinscreen,Cycle,product_review,produ...",20,0,0,2013-03-19 15:31:25.326,0,1
19993,66784,2013-06-07 09:29:14.794,4,09:00:00,17,"product_review,Home,Credit3,ScanPreview,Verify...",15,0,0,2013-06-07 09:31:28.042,0,1
19994,116065,2013-04-07 15:18:19.397,6,15:00:00,18,"Cycle,Home,Loan2,Credit3Container,ScanPreview,...",23,0,0,2013-04-07 15:19:26.383,1,1
19995,193452,2013-05-11 18:11:07.379,5,18:00:00,20,"Splash,Cycle,product_review,Home,Loan2,product...",22,0,0,2013-05-11 18:13:51.155,1,1
19996,205449,2013-05-25 04:55:21.049,5,04:00:00,28,"Splash,idscreen,Home,ScanPreview,VerifyPhone,V...",10,0,0,2013-05-25 04:56:40.768,0,1
19997,194783,2013-03-03 21:24:53.904,6,21:00:00,29,"Cycle,Home,Loan2,Loan",5,0,0,NaN,0,0
19998,367770,2013-02-04 15:36:45.141,0,15:00:00,37,"Loan2,CommunityAndInvites,Home,ProfilePage,Set...",38,0,0,NaN,0,0
19999,358085,2013-05-16 21:52:56.125,3,21:00:00,23,"Splash,idscreen,Cycle,product_review,Home,Loan...",23,0,0,NaN,0,0

In [151]:
train.shape,test.shape

((30000, 12), (20000, 12))

In [152]:
sample = test[['user','enrolled']].iloc[:5]
actualresult = test[['user','enrolled']]

In [153]:
!ls

Competeion_prepare.ipynb sampleSubmission.csv     train.csv
appdata10.csv            test.csv
new_appdata10.csv        top_screens.csv

In [154]:
test['enrolled'] = np.nan

In [155]:
train.to_csv('train.csv')

In [156]:
sample.to_csv('sampleSubmission.csv')

In [157]:
!ls

Competeion_prepare.ipynb sampleSubmission.csv     train.csv
appdata10.csv            test.csv
new_appdata10.csv        top_screens.csv

In [158]:
train.head()

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled_date,liked,enrolled
38996,84595,2013-05-30 14:15:35.803,3,14:00:00,30,"Splash,idscreen,Home,ScanPreview,VerifyPhone,V...",9,1,0,2013-05-30 14:17:10.852,0,1
5381,300631,2013-06-09 22:51:07.561,6,22:00:00,31,"Home,Loan3,product_review,product_review,produ...",10,0,0,2013-06-09 23:03:30.176,0,1
33810,318151,2013-02-11 07:37:33.663,0,07:00:00,19,"idscreen,joinscreen,Home,Loan2,product_review,...",8,0,0,NaN,0,0
49528,273985,2013-05-12 06:08:38.593,6,06:00:00,30,"Splash,Home,Loan2,product_review,product_revie...",12,0,0,NaN,0,0
8752,102338,2013-05-31 17:21:13.944,4,17:00:00,30,"idscreen,Cycle,Home,Loan2,Institutions,ScanPre...",10,0,0,NaN,0,0

In [159]:
test.head()

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled_date,liked,enrolled
20057,220962,2013-05-16 02:16:03.227,3,02:00:00,36,"Splash,Home,Credit3Container,ScanPreview,locat...",20,0,0,2013-05-16 02:18:37.169,0,NaN
30147,276227,2013-05-25 06:32:39.725,5,06:00:00,33,"Splash,idscreen,Home,ReferralContainer,product...",16,0,0,2013-05-25 06:35:23.042,1,NaN
17399,281010,2013-06-03 12:52:48.860,0,12:00:00,62,"idscreen,Cycle,Home,Loan3,Finances,Credit3,Ref...",24,0,0,2013-06-03 12:56:00.724,0,NaN
48629,313476,2013-04-11 15:34:20.421,3,15:00:00,50,"Home,ScanPreview,location,VerifyDateOfBirth,Cr...",8,0,0,NaN,0,NaN
25554,38850,2013-04-06 13:29:36.099,5,13:00:00,32,"Home,Leaderboard,Loan2,Loan1,ProfilePage,Rewar...",18,1,0,NaN,0,NaN

In [160]:
sample.head()

         user  enrolled
20057  220962         1
30147  276227         1
17399  281010         1
48629  313476         0
25554   38850         0

In [162]:
actualresult.to_csv('actualresult.csv')

In [163]:
!ls

Competeion_prepare.ipynb new_appdata10.csv        top_screens.csv
actualresult.csv         sampleSubmission.csv     train.csv
appdata10.csv            test.csv